.hideshow.app {
    display: block;
}

.hideshow {
    display: none;
}

.input-1 {
    /* Rectangle 97 */
  
    /* position: absolute; */
 
    /* left: 1428px;
       top: 3444px;
       margin-top: 40px; */
    /* margin-left: 30px; */
   
    padding-left: 7px;
    font-family: Futura Lt BT;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  border: none;
border-bottom: 1px solid #fff;
color: white;
    background: #2e307b;
  }
  


#appelement {
    position: absolute;
    width: 100%;
}

.autocomplete {
    position: relative;
}

.autocomplete-search-results-list {
    padding-left: 15px;
    padding-top: 20px;
    background-color: #fff;    padding-top: 20px;
}

.keyword a{
    color: black;
    }