* {
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
/*.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  background-color: #f1f1f1;
  margin: 0 0 0 8px;
  padding: 60px;

}*/



.heading1 {

margin-left: 12px;
color: #2E307B;


}
.heading2 {

  padding: 10px;
  color: #2E307B;

}

.bord {

/* Vector 8 */

position: absolute;
margin-left: 15px;
width: 110px;
border: 1px solid #2E307B;

}

.bord1 {
  /* Vector 6 */


position: absolute;
width: 110px;
margin: 10px;

border: 1px solid #2E307B;
}

.bord2 {
  
position: absolute;
width: 110px;
margin: 10px;

border: 1px solid #2E307B;
}

.bord3 {
  
position: absolute;
width: 110px;
top: 5px;
margin-top: 160px;

border: 1px solid #2E307B;
}

.box1 {

  position: absolute;
  width: 385px;
  height: 529px;
  left: 147px;
  top: 580px;
  padding: 35px;
  margin-left: 60px;
  
  background: #FFFFFF;

}

.box2 {

  position: absolute;
  width: 385px;
  height: 529px;
  left: 561px;
  top: 580px;
  padding: 35px;
  margin-left: 60px;
  background: #FFFFFF;
}


.box3{

  position: absolute;
  width: 385px;
  height: 529px;
  left: 975px;
  top: 580px;
  padding: 35px;
  margin-left: 60px;
  background: #FFFFFF;
}

.box4 {
  position: absolute;
  width: 384px;
  height: 529px;
  left: 1389px;
  top: 580px;
  padding: 25px;
  margin-left: 60px;
  background: #FFFFFF;
}

.heading3 {

  padding: 10px;
color: #2E307B;


}

.heading4-1 {
  position: absolute;
 top: 5px;
 margin-top: 170px;
  
  


  line-height: 15px;
  /* identical to box height */
  
  
  color: #2E307B;
  
  
  }

.heading5 {
    color: #2E307B;
  }

.heading6 {
  color: #2E307B;
}

.heading7 {
  color: #2E307B;
}

.heading8 {

  color: #2E307B;
}

.heading9 {
  color: #2E307B;
}

.heading10 {
  color: #2E307B;
}

.heading11 {
  color: #2E307B;
}

.heading12 {
  color: #2E307B;
}

.heading13 {
  color: #2E307B;
}

.heading14 {
  color: #2E307B;
}

.heading15 {
  color: #2E307B;
}

.heading16 {
  color: #2E307B;
}

.heading17 {
  color: #2E307B;
}

.heading18 {
  color: #2E307B;
}

.heading19 {
  color: #2E307B;
}

.heading20 {
  color: #2E307B;
}

.heading21 {
  color: #2E307B;
}



  
.cardhead {
 /* PRODUCT LINE */


position: absolute;
width: 747px;
height: 125px;
left: 150px;
top: 162px;
margin-top: 220px;
margin-left: 50px;
font-family: Futura-Bold;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 46px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #2E307B;
}

.container4 {
  /* Rectangle 107 */


position: absolute;
width: 2023px;
height: 3960px;
left: 0px;
top: 6px;
margin-top: 950px;

background: #EDEDED;
}

.box5 {
  position: absolute;
width: 385px;
height: 529px;
left: 147px;
top: 899px;
margin-top: 1200px;
margin-left: 60px;
padding: 35px;
background: #FFFFFF;
}

.box6 {
  position: absolute;
width: 385px;
height: 529px;
left: 561px;
top: 899px;
margin-top: 1200px;
margin-left: 60px;
padding: 35px;
background: #FFFFFF;
}

.box7 {
  position: absolute;
width: 385px;
height: 529px;
left: 975px;
top: 899px;
margin-top: 1200px;
margin-left: 60px;
padding: 35px;
background: #FFFFFF;
}

.box8 {
  position: absolute;
width: 384px;
height: 529px;
left: 1389px;
top: 899px;
margin-top: 1200px;
margin-left: 60px;
padding: 35px;
background: #FFFFFF;
}

.bord8 {
  position: absolute;
width: 110px;


border: 1px solid #2E307B;
}


.box9 {
  position: absolute;
width: 385px;
height: 529px;
left: 147px;
top: 1457px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box10 {
  
position: absolute;
width: 385px;
height: 529px;
left: 561px;
top: 1457px;
margin-top: 1200px;
margin-left: 60px;
padding: 30px;
background: #FFFFFF;
}

.box11 {
  position: absolute;
width: 385px;
height: 529px;
left: 975px;
top: 1457px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box12 {
  position: absolute;
width: 384px;
height: 529px;
left: 1389px;
top: 1457px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}


.heading10 {
  color: #2E307B;
  padding: 15px;
 
  
}

.box13 {
  position: absolute;
width: 385px;
height: 529px;
left: 147px;
top: 2015px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box14 {
  position: absolute;
width: 385px;
height: 529px;
left: 561px;
top: 2015px;
margin-top: 1200px;
margin-left: 60px;
padding: 55px;
background: #FFFFFF;
}

.box15 {
  position: absolute;
width: 385px;
height: 529px;
left: 975px;
top: 2015px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box16 {
  position: absolute;
width: 384px;
height: 529px;
left: 1389px;
top: 2015px;
margin-top: 1200px;
margin-left: 60px;
padding: 55px;

background: #FFFFFF;
}

.box17 {
  position: absolute;
width: 385px;
height: 529px;
left: 147px;
top: 2573px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box18 {
  position: absolute;
width: 385px;
height: 529px;
left: 561px;
top: 2573px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box19 {
  position: absolute;
width: 385px;
height: 529px;
left: 975px;
top: 2573px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}

.box20 {
  position: absolute;
  width: 384px;
  height: 529px;
  left: 1389px;
  top: 2573px;
     margin-top: 1200px;
    margin-left: 60px;
    padding: 25px;
  background: #FFFFFF;
}

.box21 {
  position: absolute;
width: 385px;
height: 529px;
left: 147px;
top: 3129px;
margin-top: 1200px;
margin-left: 60px;
padding: 25px;
background: #FFFFFF;
}


.imag16 {

width: 78px;
height: 58px;

}

.bord15 {
  position: absolute;
  width: 110px;
  
  
  border: 1px solid #2E307B;
}