/* Create two equal columns that floats next to each other */
.column3 {
     margin-top: 2500px;
     margin-left: 100px;
     margin: 0px;
  }


.lasthead1 {
/* ABOUT US */


position: absolute;
top: 5px;
margin-top: 4260px;
font-family: Futura-Bold;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #7E7E80;
 margin-left: 920px;

}


.lastpara {
  /* HSE POLICY | Iso certificate| Vision and Mission */


position: absolute;
margin-top: 4320px;
margin-left: 920px;
top: 5px;
font-family: Futura Lt BT;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #7E7E80;
}


.pic1 {
  margin-top: 2500px;
  margin-left: 120px;
}





.pic2 {
  position: absolute;
width: 314px;
height: 209px;
left: 132px;
top: 20px;
margin-top: 4880px;
margin-left: 190px;

}

.pic3 {
 
  position: absolute;
  width: 58px;
  height: 58px;
  left: 100px;
  margin-left: 340px;
  top: 5px;
  margin-top: 4960px;

}

.pic4 {
  /* Rectangle 127 */


position: absolute;

margin-bottom: 100px;
left: 38px;
margin-bottom: 30px;
top: 5px;
margin-top: 4880px;
margin-left: 270px;


background: #FFFFFF;
}


.lasthead2 {
  /* Electrical and Mechanical Engineered Custom Solutions. */


position: absolute;
width: 747px;
height: 125px;
left: 920px;
top: 324px;
margin-top: 4160px;
font-family: Futura-Bold;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 46px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #2E307B;

}


.lastpara1 {
  position: absolute;
width: 777px;
height: 430px;
left: 920px;
top: 449px;
margin-top: 4160px;
font-family: Futura Bk BT;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: justify;
letter-spacing: 0.06em;

color: #121212;
}

