
.h1 {

/* HSE POLICY */

margin-bottom: 50px;
position: absolute;
width: 747px;
height: 125px;
left: 150px;
top: 224px;
margin-top: 880px;
font-family: Futura-Bold;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 46px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #2E307B;
}


.p1 {
    position: absolute;
width: 1647px;
height: 780px;
left: 151px;
top: 295px;
margin-top: 1000px;
font-family: Futura Bk BT;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: justify;
letter-spacing: 0.06em;

color: #000000;
}